<h2>Edit</h2>
<form action="/post/show/<%=@post.id %>/edit" method="post">
  <div class="form-group">
    <label for="email">title</label>
    <input type="string" class="form-control" id="email" name="title" value="<%=@post.title %>">
  </div>
  <div class="form-group">
    <label for="pwd">content</label>
    <input type="text" class="form-control" id="pwd" name="content"  value="<%=@post.content %>">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<a href="/post/index">board</a>